<p ng-hide="$ctrl.inFailedState()" layout="column" layout-align="center center">
  <md-icon class="success">check_circle</md-icon>
  <span>Awesome. Everything is running fine!</span>
</p>

<div flex layout="column" ng-show="$ctrl.inFailedState()">
  <md-card ng-repeat="state in $ctrl.failedStates">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ state.application }}</span>
        <span class="md-subhead">{{ state.environment }}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon ng-class="$ctrl.stateIconClass(state)">{{$ctrl.stateIcon(state)}}</md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <md-content>
        <md-list flex ng-hide="$ctrl.message">
          <md-list-item class="md-3-line md-long-text" ng-repeat="attribute in state.unsuccessfulAttributes">
            <img ng-src="{{$ctrl.attributeIcon(attribute)}}" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ attribute.attributeName }} - {{ attribute.timestamp }}</h3>
              <p>{{ attribute.message }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Pause</md-button>
      <md-button>Resume</md-button>
    </md-card-actions>
  </md-card>
</div>
