<md-content flex layout="column">
  <p ng-show="$ctrl.message" class="highlight break-all">{{$ctrl.message}}</p>

  <md-list flex ng-hide="$ctrl.message">
    <md-subheader class="md-no-sticky md-primary" ng-repeat-start="(environment, states) in $ctrl.statesByEnvironment">{{environment}}</md-subheader>
    <md-list-item class="md-3-line" ng-repeat-end ng-repeat="state in states">
      <img ng-src="{{$ctrl.stateIcon(state)}}" class="md-avatar" />
      <div class="md-list-item-text" layout="column">
        <h3>{{ state.application }}</h3>
        <p>{{ state.environment }}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
